// ======== BACKGROUNDS ======== //
$main-background-1:#3a4764;
$main-background-2:#e6e6e6;
$main-background-3:#160628;

$screen-background-1:#182034;
$screen-background-2:#ededed;
$screen-background-3:#1d0934;

$keypad-and-toggle-background-1:#232c43;
$keypad-and-toggle-background-2:#d1cccc;
$keypad-and-toggle-background-3:#1d0934;

// ======== TEXTS ======== //
$main-text-1:#ffffff;
$main-text-2:#35352c;
$main-text-3:#ffe53d;

$btn-text-very-dark-grayish-blue-1  :#444b5a;
$btn-text-very-dark-grayish-yellow-2:#35352c;
$btn-text-very-dark-blue-3          :#1b2428;

// ======== KEYS ======== //
$key-dark-blue-background-1           :#637097;
$key-dark-blue-background-hover-1     :#b2b9cd;
$key-dark-blue-shadow-1               :#404e72;
$key-red-background-and-toggle-1      :#d03f2f;
$key-red-background-hover-1           :#fa6b5b;
$key-dark-red-shadow-1                :#931a1a;
$key-light-grayish-orange-background-1:#eae3dc;
$key-grayish-orange-shadow-1          :#b4a597;

$key-dark-moderate-cyan-background-2  :#377f86;
$key-very-dark-cyan-shadow-2          :#1b5f65;
$key-orange-background-and-toggle-2   :#ca5502;
$key-dark-orange-shadow-2             :#893901;
$key-light-grayish-yellow-background-2:#e5e4e1;
$key-dark-grayish-orange-shadow-2     :#a69d91;

$key-dark-violet-background-3         :#58077d;
$key-vivid-magenta-shadow-3           :#bc15f4;
$key-pure-cyan-background-and-toggle-3:#00e0d1;
$key-soft-cyan-shadow-3               :#6cf9f2;
$key-very-dark-violet-background-3    :#341c4f;
$key-dark-magenta-shadow-3            :#871c9c;