// ======== BACKGROUNDS ======== //
$main-background-1:#3a4764;
$main-background-2:#e6e6e6;
$main-background-3:#160628;

$screen-background-1:#182034;
$screen-background-2:#ededed;
$screen-background-3:#1d0934;

$keypad-and-toggle-background-1:#232c43;
$keypad-and-toggle-background-2:#d1cccc;
$keypad-and-toggle-background-3:#1d0934;

// ======== TEXTS ======== //
$main-text-1:#ffffff;
$main-text-2:#35352c;
$main-text-3:#ffe53d;

// ======== KEYS ======== //
$key-red-background-and-toggle-1   :#d03f2f;
$key-orange-background-and-toggle-2:#ca5502;
$key-pure-cyan-background-and-toggle-3:#00e0d1;