$main-background-1:#3a4764;
$main-background-2:#e6e6e6;
$main-background-3:#160628;

$screen-background-1:#182034;
$screen-background-2:#ededed;
$screen-background-3:#1d0934;

$keypad-background-1:#232c43;
$keypad-background-2:#d1cccc;
$keypad-background-3:#1d0934;

$main-text-1:#ffffff;
$main-text-2:#35352c;
$main-text-3:#ffe53d;