@use './colors.scss'as *;

.first-theme {
    background-color: $main-background-1;

    .theme-text {
        color: $main-text-1;
    }

    div.calc-screen {
        background-color: $screen-background-1;
    }

    div.calc-body,
    .switch-buttons,
    input.radio-input:checked:before,
    input.radio-input:not(:checked):before {
        background-color: $keypad-and-toggle-background-1;
    }

    input.radio-input:checked:after,
    input.radio-input:not(:checked):after {
        background-color: $key-red-background-and-toggle-1;
    }

    button {
        background-color: $key-light-grayish-orange-background-1;
        box-shadow      : 0 4px $key-grayish-orange-shadow-1;

        &:hover {
            background-color: #fff;
        }
    }

    button[value="RESET"],
    button[value="DEL"] {
        background-color: $key-dark-blue-background-1;
        box-shadow      : 0 4px $key-dark-blue-shadow-1;
        color           : #fff;

        &:hover {
            background-color: $key-dark-blue-background-hover-1;
        }
    }

    button[value="="] {
        background-color: $key-red-background-and-toggle-1;
        box-shadow      : 0 4px $key-dark-red-shadow-1;
        color           : #fff;

        &:hover {
            background-color: $key-red-background-hover-1;
        }
    }
}

.second-theme {
    background-color: $main-background-2;

    .theme-text {
        color: $main-text-2;
    }

    div.calc-screen {
        background-color: $screen-background-2;
    }

    div.calc-body,
    .switch-buttons,
    input.radio-input:checked:before,
    input.radio-input:not(:checked):before {
        background-color: $keypad-and-toggle-background-2;
    }

    input.radio-input:checked:after,
    input.radio-input:not(:checked):after {
        background-color: $key-orange-background-and-toggle-2;
    }
}

.third-theme {
    background-color: $main-background-3;

    .theme-text {
        color: $main-text-3;
    }

    div.calc-screen {
        background-color: $screen-background-3;
    }

    div.calc-body,
    .switch-buttons,
    input.radio-input:checked:before,
    input.radio-input:not(:checked):before {
        background-color: $keypad-and-toggle-background-3;
    }

    input.radio-input:checked:after,
    input.radio-input:not(:checked):after {
        background-color: $key-pure-cyan-background-and-toggle-3;
    }
}