@import '../../styles/reset';

.calc-header {
    padding        : 5px;
    margin         : 15px;
    border-radius  : 8px;
    display        : flex;
    justify-content: space-between;

    .left-box {
        display: flex;
        align-items: center;

        span {
            font-weight: bold;
            padding-top: 15px;
        }
    }

    .right-box {
        display        : flex;
        width          : 130px;
        justify-content: space-between;
        align-items    : center;

        span {
            font-weight: bold;
            font-size  : 10px;
            padding-top: 19px;
        }

        .switch {
            .switch-labels {
                display        : flex;
                justify-content: space-around;
                font-size      : 12px;
                font-weight    : bold;
                padding-bottom : 2px;
            }

            .switch-buttons {
                display      : flex;
                border-radius: 18px;

                .switch-radio-item {

                    input.radio-input:checked,
                    input.radio-input:not(:checked) {
                        position: relative;
                        cursor  : pointer;
                    }

                    input.radio-input:checked:before,
                    input.radio-input:not(:checked):before {
                        content      : '';
                        position     : absolute;
                        left         : -3px;
                        top          : -3px;
                        width        : 18px;
                        height       : 18px;
                        border-radius: 100%;
                    }

                    input.radio-input:checked:after,
                    input.radio-input:not(:checked):after {
                        content           : '';
                        width             : 14px;
                        height            : 14px;
                        position          : absolute;
                        top               : 0;
                        left              : -1px;
                        border-radius     : 100%;
                        -webkit-transition: all 0.2s ease;
                        transition        : all 0.2s ease;
                    }

                    input.radio-input:not(:checked):after {
                        opacity          : 0;
                        -webkit-transform: scale(0);
                        transform        : scale(0);
                    }

                    input.radio-input:checked:after {
                        opacity          : 1;
                        -webkit-transform: scale(1);
                        transform        : scale(1);
                    }
                }
            }
        }
    }
}