.calc-header {
    padding        : 5px;
    margin         : 15px;
    border-radius  : 8px;
    display        : flex;
    justify-content: space-between;

    .left-box {
        span {
            font-weight: bold;
        }
    }

    .right-box {
        display        : flex;
        width          : 130px;
        justify-content: space-between;
        align-items    : center;

        span {
            font-weight: bold;
            font-size  : 10px;
        }

        .switch {
            .switch-labels {
                display        : flex;
                justify-content: space-around;
            }

            .switch-buttons {
                display: flex;

                .switch-radio-item .radio-input {}

                .switch-radio-item .radio-input:hover {}

                .switch-radio-item .radio-input:before {
                    content: '';



                }

                .switch-radio-item .radio-input:checked {
                    position    : relative;
                    padding-left: 28px;
                    cursor      : pointer;
                    line-height : 20px;
                    display     : inline-block;
                    color       : #666;
                }

                .switch-radio-item .radio-input:checked:before {
                    background: red;
                }
            }
        }
    }
}